
<!-- <div>
  {{text}}
</div> -->

<div>
   <button ion-button clear style="float: left; font-size: 12px; margin-left: 10%; font-weight: bold;" color="dark">PAST</button>
   <button ion-button clear (click)="pushUpcoming()" style="float: right; font-size: 12px; margin-right: 10%;" color="dark">UPCOMING</button>
</div>

<div style="clear:both"></div>

<!-- <ion-list padding class="style">
  <ion-item>
    <p style="float:right; color: black;">18 Apr 2018 12:30pm</p>
  </ion-item>
  <ion-item>
    <h3 style="font-weight: 500;">GAYA STREET, KOTA KINABALU</h3>
    <div style="clear: both; height: 20px"></div>
    <p style="float: left; color: black;">MYR 3,000.00</p>
    <img src="../assets/imgs/myr.png" style="float: right; width: 22px; height: 23px;"><br>
    <p style="margin-left: 25px; color: black;">to</p>
    <p style="float: left; color: black;">USD760.56</p>
    <img src="../assets/imgs/usd.png" style="float: right; width: 22px; height: 22px;">
  </ion-item>

  <ion-item>
      <p style="float:right; color: black;">31 Dec 2017 10:02am</p>
  </ion-item>
  <ion-item>
    <h3 style="font-weight: 500;">CANAL STATION, NEW YORK</h3>
    <div style="clear: both; height: 20px"></div>
    <p style="float: left; color: black;">USD 1,200.00</p>
    <img src="../assets/imgs/usd.png" style="float: right; width: 22px; height: 22px;"><br>
    <p style="margin-left: 25px; color: black;">to</p>
    <p style="float: left; color: black;">EURO 1,002.03</p>
    <img src="../assets/imgs/euro.png" style="float: right; width: 18px; height: 11px;">
  </ion-item>

  <ion-item>
      <p style="float:right; color: black;">8 Oct 2017 4:16pm</p>
  </ion-item>
  <ion-item>
    <h3 style="font-weight: 500;">ORCHARD ROAD, SINGAPORE</h3>
    <div style="clear: both; height: 20px"></div>
    <p style="float: left; color: black;">EURO 1,200.00</p>
    <img src="../assets/imgs/euro.png" style="float: right; width: 18px; height: 10px;"><br>
    <p style="margin-left: 25px; color: black;">to</p>
    <p style="float: left; color: black;">SGD 1,917.73</p>
    <img src="../assets/imgs/sgd.png" style="float: right; width: 18px; height: 12px;">
  </ion-item>
</ion-list> -->

<!-- <div>
   <button ion-button clear style="float: left">PAST</button>
   <button ion-button clear (click)="pushUpcoming()" style="float: right">UPCOMING</button>
</div> -->

<div>
  <p style="color: gray; text-align: right;">18 Apr 2018 12:30pm</p>
  <img src="../assets/imgs/transactioncard.png" style="margin-top:-2%;">

  <div class="top">
    <h6>GAYA STREET, KOTA KINABALU</h6>
  </div>

  <div class="center">
    <p>USD 1000.00</p>
  </div>

  <div class="bottom">
    <p>MYR 3968.00</p>
  </div>

  <div class="bottom-right">
    <p>Transaction Succeed</p>
  </div>
</div>

<div style="clear: both;"></div>

  <!-- <ion-tabs tabsPlacement="top">
    <ion-tab [root]="tab1Root" tabTitle="PAST"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="UPCOMING"></ion-tab>
  </ion-tabs> -->

