
<!-- <div>
  {{text}}
</div> -->
<ion-content>
<div style="clear: both; height: 5px;"></div>

<div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>

<img src="../assets/imgs/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: 1%;">
<p style="text-align: center; font-size: 11px;">EXCHANGE 2.5K ABOVE FOR</p>
<p style="font-size: 11px; margin-left: 33%; margin-top: -4%">AIRPORT LOUNGE VOUCHER</p>

<ion-card style="width: 85%; float: right; border-top: 0.5px solid black;">
  <!-- <ion-card-header>
    Header
  </ion-card-header> -->
  <ion-card-content>
    <div> 
      <p style="font-size: 7px; color: black">Have you exchange to Malaysian Ringgit?</p>
      
      <div style="clear: both; height: 10px; color: black"></div>
      
      <p style="font-size: 7px; color: black">Exchange to Malaysian Ringgit more than RM2.5k you are eligible to get complimentary Airport Plaza Premium Lounge Voucher.</p>
      
      <div style="clear: both; height: 10px; color: black"></div>
      
      <p style="font-size: 7px; color: black">Only Applicable in South East Asia.</p>

      <img src="../assets/imgs/notivoucher.png" style="width: 250px; height: 80px;">
      <p style="float: right; font-size: 5px; color: black;">Terms & Conditions Apply*</p>

      <button ion-button block color="dark" style="border-radius: 0; height: 30px;">MORE INFO</button>

    </div>
    
  </ion-card-content>
  
</ion-card>
<!-- </ion-content> -->
<div style="clear: both;"></div>
<div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%; margin-top: -1%;"></div>

<div>
  <img src="../assets/imgs/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
  <p style="font-size: 9px; margin-left: 3%; text-align: center;">WELCOME TO MALAYSIA! HAVE YOU EXCHANGE TO MYR?</p>
  <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
</div>

<div>
  <img src="../assets/imgs/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
  <p style="font-size: 9px; text-align: center;">2 MERCHANT NEARBY YOUR AREA WITH JPY & USD</p>
  <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
</div>

<div>
  <img src="../assets/imgs/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
  <p style="font-size: 9px; text-align: center;">WELCOME TO OKANE SOCIAL</p>
  <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
</div>

</ion-content>
