page-upcoming {

}

.top {
    position: absolute;
    top: 11%;
    left: 8%;
}

.center {
    position: absolute;
    top: 15%;
    left: 12%;
    font-size: 12px;
}

.bottom {
    position: absolute;
    top: 22%;
    left: 12%;
    font-size: 12px;
}